@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue: #147BFD;
  --orange: #FF7900;
  --black: #111111;
  --white: #ffffff;
  --muted: #6b7280;
  --border: #e5e7eb;
  --bg-soft: #f8fafc;
}


/* RESET */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
}

html {
  scroll-behavior: smooth;
}

.app-content {
  box-sizing: border-box;
  padding: 16px;
}